$class: dashboard-product-list;

.#{$class} {
  list-style-type: none;
  padding: 0px;
  position: relative;
  border: 1px solid #000;
  height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 600px;
}
