$class: dashboard-basket;

.#{$class} {
  position: relative;
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  height: 200px;
  margin: 30px auto;
  text-align: center;
  width: 200px;

  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
